body{
  background-image: url("space.jpg");
}

.logoTop{
  height: 50px;
  text-align: center;
}

div.logoTop > img{
  height: 100px;
}

#container{
  height: 750px;
}

div.screen > p{
  width: 48px;
  height: 48px;
  position: absolute;
}

.module{
  overflow: hidden;
  width: 750px;
}

.genButton{
  float: left;
}

.boxCount{
  float: right;
  color: white;
}
